.gridItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 210px));
    grid-template-rows: repeat(3, 260px);
    justify-content: space-between;
    grid-gap: 40px 0px;
}


.gridItem {
    margin: 0 auto;
    padding: 29px 29px 34px 30px;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    width: 100%;
    transition: .2s;
}

.gridItem:hover {
    box-shadow: 0px 3px 3px gray;
    transform: scale(120%);
}

.imageArea {
    text-align: center;
    position: relative;
}

.imageArea img {
    width: 130px;
    height: 112px;
}

.gridItem p {
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

.gridItem .priceArea {
    display: flex;
    justify-content: space-between;
}

.preferBtn {
    top: 0;
    left: 0;
    position: absolute;
}

.slider {
    border-radius: 30px;
    width: 100%;
    max-width: 960px;
    margin: 0px auto 39px auto;
}

.slider img {
    width: 100%;
    max-width: 960px;
}

.itemsPage {
    padding: 0px 60px 20px 60px;
}

.headOfItemsPage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.headOfItemsPage h2 {
    font-size: 32px;
    font-weight: 700;
}

.headOfItemsPage input {
    font-size: 14px;
    padding: 0px 20px;
    width: 100%;
    max-width: 210px;
    height: 45px;
    font-weight: 400;

    border: 1px solid #F3F3F3;
    border-radius: 10px;
}

.gridItem_tittle {
    margin: 12px 0px;
}

.pricePara {
    font-size: 11px;
    color: #BDBDBD;
}

.price {
    font-weight: 700;
}

.preferBtn ion-icon {
    margin: 0;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #F8F8F8;
}

.prefer {
    top: 0;
    left: 0;
    position: absolute;
}

.prefer ion-icon {
    margin: 0;
    color: #FF8585;
    background-color: #FEF0F0;
    border-radius: 5px;
    border: 1px solid #FEF0F0;
}

.addToCardBtn ion-icon {
    margin: 0;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #F8F8F8;
}

.preferBtn ion-icon:hover {
    background-color: #BDBDBD;
}

.addToCardBtn ion-icon:hover {
    background-color: #BDBDBD;
}

.deleteFromCartBtn ion-icon{
    color: #FFF;

    margin: 0;
    background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);
    border-radius: 5px;
    border: 0;
    border: 1px solid #89F09C;
}

.emptyPage {
    width: 100%;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyPage img{
    width: 70px;
    height: 70px;
}

.emptyPage h3 {
    margin-top: 24px;
    margin-bottom: 11px;
}

.emptyPage p {
    font-size: 16px;
    font-weight: 400;
    color: #9B9B9B;
}

.backBtn {
    display: inline-block;
    margin-top: 41px;

    width: 100%;
    max-width: 245px;
    height: 55px;
    background-color: #9DD458;

    border-radius: 20px;
    border: 0;
    cursor: pointer;

    color: #fff;
    font-size: 16px;
    font-weight: 600;
}


@media (max-width: 1100px){
    .slider{
        max-width: 750px;
        margin: 0 20px 35px 20px;
    }
    .gridItem:hover {
        box-shadow: none;
        transform: scale(100%);
    }
}

@media (max-width: 800px){
    .slider{
        max-width: 600px;
        margin: 0 20px 35px 20px;
    }
}

@media (max-width: 750px){
    .gridItems{
        justify-content: space-around;
    }
}

@media (max-width: 651px){
    .slider{
        max-width: 500px;
        margin: 0 20px 35px 20px;
    }
    .headOfItemsPage h2{
        font-size: 23px;
    }
}

@media (max-width: 551px){
    .slider{
        display: none;
    }
    .gridItems{
        justify-content: center;
        grid-template-columns: 350px;
    }
    .headOfItemsPage{
        flex-flow: column;
        text-align: center;
    }
    .headOfItemsPage input {
        max-width: 300px;
        margin: 25px auto 0px auto;
    }
}
